.title-home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.title-home h2 {
  margin: 0 auto;
  text-align: center;
}

.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 30px 0 100px 0;
  min-height: 100vh;
}

.gallery-landscapes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding-top: 20px;
}

.card {
  margin: 30px;
  max-width: 300px;
  min-width: 250px; 
  width: auto;
  flex: 0 0 33.33%;
}

@media (min-width: 992px) {
  .card {
    flex-basis: 25%;
  }
}

.card-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-text {
  word-wrap: break-word;
  margin-top: 0;
  margin-bottom: 0px;
}

.card-text > p {
  display: flex;
  align-items: flex-start;
  font-size: 1rem;
  font-weight: normal;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  min-height: 100vh;
}

.not-found-container h1 {
  font-size: 3rem;
  color: #515151;
  margin-bottom: 20px;
}

.not-found-container p {
  font-size: 1.5rem;
  color: #777;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  gap: 15px !important;
  margin-top: 30px !important;
}

.pagination-buttons button {
  background-color: #007bff !important;
  color: white !important;
  border: none;
  padding: 10px 20px !important;
  font-size: 16px !important;
  border-radius: 5px !important;
  cursor: pointer;
  transition: background 0.3s ease;
}

.pagination-buttons button:hover {
  background-color: #0056b3 !important;
}

.pagination-buttons button:disabled {
  background-color: #ccc !important;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .pagination-buttons {
    flex-direction: column;
    align-items: center;
  }

  .pagination-buttons button {
    width: 80% !important;
  }
}

