#gallery-main{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-gap: 2vw;
    align-items:center;
    justify-items:center;
    background: linear-gradient(rgb(0,0,0,.5),rgb(0,0,0,.5) 100%),url(../../../public/static/Fundo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 30px 10px 30px 10px;
    width: 100%;
    height: 100%;
}