.Image-container{
    width: 340px;
    height:420px;
    margin: 5px;
    padding: 10px;
    border-top: 10px;
    background: linear-gradient(rgb(39, 45, 51,0.6),rgb(39, 45, 51,0.6) 100%);
    transition: all 0.5s ease;
    text-align: center;
}
.Image-container img{
    transition: all 0.5s ease;
    height: 90%;
    max-width: 300px;
}
.Image-container p{
    padding-top: 10px;
    transition: all 0.5s ease;
    height: 10%;
    font-size: 1rem;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bolder;
    overflow:hidden;

}
.Image-container:hover{
    background: rgb(66, 126, 106);
    border:10px solid rgb(66, 126, 106) ;
    cursor: pointer;
    
}
.Image-container:hover p{
    color: rgb(4, 8, 7);
}
