/*https://tailwindcss.com/docs/installation/using-postcss*/
/*Imports/ variaveis*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:wght@300&display=swap');
@import './palette.css';

/*body header main footer*/
/*tags*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
